.contact{
position: relative;
height: 80vh;
/* background-color: rgb(191, 147, 90); */
display: flex;
align-items: center;
}

.cont-left{
    flex: 1;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.cont-left span:nth-of-type(2) {
   color: var(--oreng);
}

.cont-right{
    flex: 1;
    /* background-color: rgba(214, 214, 158, 0.725); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.cont-right form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    width: 50%;
  }
.cont-right form input{
        color: var(--yellow);
        width: 100%;
        border: 3px solid var(--oreng);
        padding: 4%;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
.cont-right form textarea{
    color: var(--yellow);
    width: 100%;
    border: 3px solid var(--oreng);
    padding: 4%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.cont-right form textarea:focus ,.cont-right form input:focus{
outline: none;
/* color: var(--blue); */
}
.cont-right form textarea::placeholder,
.cont-right form input::placeholder {
 color: var(--blue);
}
.cont-right form input[type="email"]:focus  { 
    color: var(--oreng);
}
.cont-right form button{
    width: 33%;
    margin-top: 9%;
}

form span {
    text-transform: capitalize;
    color: var(--darkOrng);
    padding: 1rem;
    margin-top: 4%;
    text-align: center;
}

.cont-left .blur{
        position: absolute;
        background-color: var(--blue);
        left: -4rem;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        filter: blur( 88px);
        z-index: -4;
        -webkit-filter: blur( 88px);
}
.cont-right .blur{
    position: absolute;
    background-color: var(--pep);
        /* background-color: var(--yellow); */
    left: 55rem;
    top: 8rem;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: blur(188px);
    z-index: -4;
    -webkit-filter: blur(188px);
}



