.intro{
    display: flex;
    height: 88vh;
    margin-top: 5rem;
}
.intro-left{
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    gap: 3rem;
}
.intro-left .intro-name{
display: flex;
flex-direction: column;
}
.intro-left .intro-name span:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
}
.intro-left .intro-name span:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--yellow);
}
.intro-left .intro-name span:nth-child(3) {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--gray);
    margin-top: 1rem;
}
.intro-left  .intro-button{
width: 8rem;
height: 3rem;
}
.intro-left .intro-social{
    display: flex;
    align-items: center;
    margin-top: 6rem;
    gap: 4rem;
    /* width: 1rem;
    height: 1rem; */

    /* justify-content: space-evenly; */
}
.intro-left .intro-social img{
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transform:scale(1.5);
        -webkit-transform:scale(1.5);
        -moz-transform:scale(1.5);
        -ms-transform:scale(1.5);
        -o-transform:scale(1.5);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
}
.intro-left .intro-social img:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}




.intro-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;

}

.intro-right>* {
    position: absolute;
    z-index: 1;
}

.intro-right .mainImg{
    width: 40%;
    height: 50%;
    /* border-radius: 2rem 2rem 11rem 11rem ;
    -webkit-border-radius: 2rem 2rem 11rem 11rem ;
    -moz-border-radius: 2rem 2rem 11rem 11rem ;
    -ms-border-radius: 2rem 2rem 11rem 11rem ;
    -o-border-radius: 2rem 2rem 11rem 11rem ; */
        border-radius: 47% 53% 51% 49% / 75% 30% 70% 25%;
}

.intro-right > div:nth-child(1){
    background: linear-gradient(var(--blue), var(--pep));
     border-radius: 47% 53% 51% 49% / 75% 30% 70% 25% ;
      width: 33rem;
       height:33rem;
        position: absolute; 
        right: 14%;
        top: 6%;
          -webkit-border-radius: 47% 53% 51% 49% / 75% 30% 70% 25% ;
          -moz-border-radius: 47% 53% 51% 49% / 75% 30% 70% 25% ;
           -ms-border-radius: 47% 53% 51% 49% / 75% 30% 70% 25% ;
            -o-border-radius: 47% 53% 51% 49% / 75% 30% 70% 25% ;
}
.intro-right > div:nth-child(2){
    border-radius: 61px 161px 48px 163px;
        -webkit-border-radius: 61px 161px 48px 163px;
        -moz-border-radius: 61px 161px 48px 163px;
        border: 36px solid #ffbb30;
        background: linear-gradient(var(--yellow), var(--oreng));
         width: 22rem;
        height: 22rem;
}

.intro-right > img {
     width: 4rem;
     height: 4rem;
}

.intro-right>img:nth-child(7){
    left: 22%;
}
.intro-right>img:nth-child(6) {
    left: 44%;
    top: 66%;
}
.intro-right>img:nth-child(5) {
    left: 66%;
}
.intro-right>img:nth-child(4) {
    top: 22%;
}
