 :root{
  --yellow:#F5C32C;
  --oreng: #FCA61F;
  --black:#272525ed;
  --gray:#626262;
  --pep:rgb(166, 128, 155);
  --blue:#b4ccd5;
  --darkOrng:#ff7300;
  --box-shadow:0px 19px 60px rgb(0 0 0 / 8%);
  --small-shadow:-79px 51px 60px rgba(0, 0 ,0 , 0.08);
 }

::-moz-selection {
  background: #f5c32c6f;
}
::selection {
  background: #f5c32c6f;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--oreng);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--oreng);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--oreng);
}


 .App{
  padding:  0.5rem 3.5rem ;
  overflow: hidden;
  color: var(--black);
  text-transform: capitalize;
}


  button{
        border: none;
        background:linear-gradient(180deg , var(--oreng) 26% ,  var(--yellow)99% );
        padding: 1rem;
        cursor: pointer;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        color: #efefef;
        font-size: 1rem;
        box-shadow: 0px 2px 24px 3px var(--darkOrng);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
}
  button:hover{
    background: #efefef;
    border: 1px solid var(--oreng);
    color: #ff7300;
  }



/* ---------------------------------MEdia screens ===================================== */




@media screen and (max-width:480px) {


.App{
  padding: 0.5rem;
  font-size: small;
 }






  
}



