.Exp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 33vh;
    margin-bottom: 4rem;
    margin-top: 8rem;
    color: var(--black);
}

.Exp .schev{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;
    font-size: 1.2rem;
}
.Exp .circl{
    position: relative;
       width: 6rem;
       height: 6rem;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       background-color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 1.8rem;
       font-weight: 400;
       margin-bottom: 4rem;
       color: var(--darkOrng);
}
.Exp .circl::before{
       content: "";
       position: absolute;
       top: -1rem;
       left: -1rem;
       right: -1rem;
       bottom: -1rem;
       background-image: linear-gradient( to bottom, var(--blue) 0% , var(--yellow)100% );
       z-index: -1;
       border-radius:100% ;
       -webkit-border-radius:100% ;
       -moz-border-radius:100% ;
       -ms-border-radius:100% ;
       -o-border-radius:100% ;
       box-shadow: var(--box-shadow);
}

.Exp .schev span:nth-of-type(2){
    color: var(--oreng);
}