.footer{
padding: 0;
margin: 0;
height: 33vh;
position: relative;
/* background-color: antiquewhite; */
}

.footer .fcont{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    color: var(--gray);
    padding-top: 6rem;
    font-size: 1.5rem;
}

.footer .fcont .ficn{
color: var(--gray);
display: flex;
gap: 3rem;
}


/* ------------start bg------------------ */
.footer .footerGroung{
    background-color: var(--yellow);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -4rem;
    border-radius: 35%;
        -webkit-border-radius: 35%;
        -moz-border-radius: 35%;
        -ms-border-radius: 35%;
        -o-border-radius: 35%;
}
.footer .footerGroung .g1{
    position: absolute;
    background-color: var(--yellow);
    right: -14rem;
    top: -5rem;
    border-radius:35%;
    -webkit-border-radius:35%;
    -moz-border-radius:35%;
    -ms-border-radius:35%;
    -o-border-radius:35%;
    width: 33rem;
    height: 33rem;
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
}
.footer .footerGroung .g2{
    position: absolute;
    width: 22rem;
    height: 22rem;
    top: -4rem;
    left: -8rem;
    background-color: var(--yellow);
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

/* ------------end bg------------------ */

